
:root {
  --nav-color: #5161ce;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* change the color of active or hovered links */
.notifications{
  color: var(--nav-color);
}
.avatar img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.btn-transparent{
  background-color: Transparent;
}
.btn-color-white{
  color: #ffffff;
}
.btn-color-white:hover{
  color: #ffffff;
}

.btn-warning{
  color: White;
}
.flag{
  border-radius: 3px 3px 3px 3px;
  padding-right: 10px;
}
.link-white{
  color:rgba(255,255,255,.5);
}
.link-white:hover{
  color:rgba(255,255,255,.9);
}
.link-profile{
  color:rgba(255,255,255,.9);
  font-size: 15px !important;
}
.link-profile:hover{
  color:rgba(255,255,255,.9);
  font-size: 15px !important;
}
.padding-right-25{
  padding-right: 25px;
}
.white-icons{
  color: white;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-custom{
	background-color: var(--nav-color);
	padding: 0px;
}
.nav-custom .nav-item{
  padding-left:20px;
background-color: red;
}
.nav-link{
	color: #fff;
}
.nav-link:hover{
  color: rgba(255,255,255,.5);
}
.nav-link .active{
  background-color: white;
}
.nav-pills .nav-link.active {
    background-color: white!important;
    color: #5161ce;
    border-radius:100px;
}
